$minlgMobile:"(min-width: 767px)";
$maxlgMobile:"(max-width: 766px)";

$minMedium:"(min-width: 992px)";
$maxMedium:"(max-width:991px)";

$minLarge:"(min-width: 1200px)"; 
$maxLarge:"(max-width:1200px)";

$maxmobile:"(max-width:567px)";
$minmobile:"(min-width:568px)";
$redColor:#ff6700;
$grayColor:#9c9c9c;
$fl-left:left;
$fl-right:right;